:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Very-dark-blue-main-bg);
    
}

/* General Border */
.main {
    border: 2px solid var(--Very-dark-blue-main-bg);
    border-radius: 15px;
    box-shadow: 0px 37px 0 15px rgb(12, 23, 41), 0px 25px 0px 50px rgba(12, 25, 44, 0.95);
    
    background-color: var(--Very-dark-blue-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;  
}

.main__image {
    position: relative;
}

.main__image--nft {
    width: 300px;
    height: 300px;
    margin: 25px 25px 0 25px;
    border-radius: 10px;
}

.main__image--icon {
    position: absolute;
    top: 0;
    background-image: url(/images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    width: 300px;
    height: 300px;
    margin: 25px 25px 0 25px;
    border-radius: 10px;
    opacity: 0;
}

/* Description */

.main__description {
    margin: 0 25px;
}

.main__description h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 20px 0;
    color: var(--White);
}

.main__description p {
    font-weight: 300;
    color: var(--Soft-blue);
}

/* Details */

.main__general {
    width: calc(350px - 50px);
    padding: 20px 0px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

.main__details {
    display: flex;
    justify-content: space-between;
}

.main__details--division {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__value {
    margin-left: 5px;
    font-weight: 600;
    font-size: 0.90rem;
    color: var(--Cyan);
}

.main__time {
    margin-left: 5px;
    font-size: 0.80rem;
    font-weight: 400;
    color: var(--Soft-blue);
}

/* Creator */

.main__creator {
    display: flex;
    align-items: center;
    width: calc(350px - 50px);
    margin: 15px 0 25px 0;
}

.main__creator--image {
    width: 40px;
    border: 1px solid var(--White);
    border-radius: 100%;
}

.main__creator--text {
    margin-left: 15px;
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--Soft-blue);
}

.main__creator--text span {
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--White);
}

/* HOVER */

.main__description h2:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.main__creator--text span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.main__image--icon:hover {
    opacity: 1;
    cursor: pointer;
}


