:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.dark__mode--body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: var(--Very-dark-blue-main-bg);
}

/* General Border */
.main {
    border: 2px solid var(--Very-dark-blue-main-bg);
    border-radius: 15px;
    box-shadow: 0px 25px 0 12px rgb(12, 23, 41), 0px 25px 0px 50px rgba(12, 25, 44, 0.95);
    
    background-color: var(--Very-dark-blue-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 325px;
    
}

.main__image {
    position: relative;
}

.main__image--nft {
    width: 275px;
    height: 275px;
    margin: 25px 25px 0 25px;
    border-radius: 10px;
}

.main__image--icon {
    position: absolute;
    top: 0;
    background-image: url(../images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    width: 275px;
    height: 275px;
    margin: 25px 25px 0 25px;
    border-radius: 10px;
    opacity: 0;
}

/* Description */

.main__description {
    margin: 0 20px;
}

.main__description h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 20px 0;
    color: var(--White);
}

.main__description p {
    font-weight: 300;
    font-size: 16px;
    color: var(--Soft-blue);
}

/* Details */

.main__general {
    width: calc(325px - 50px);
    padding: 20px 0px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

.main__details {
    display: flex;
    justify-content: space-between;
}

.main__details--division {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__value {
    margin-left: 5px;
    font-weight: 600;
    font-size: 0.90rem;
    color: var(--Cyan);
}

.main__time {
    margin-left: 5px;
    font-size: 0.80rem;
    font-weight: 400;
    color: var(--Soft-blue);
}

/* Creator */

.main__creator {
    display: flex;
    align-items: center;
    width: calc(325px - 50px);
    margin: 15px 0 25px 0;
}

.main__creator--image {
    width: 40px;
    border: 1px solid var(--White);
    border-radius: 100%;
}

.main__creator--text {
    margin-left: 15px;
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--Soft-blue);
}

.main__creator--text span {
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--White);
}

/* FOOTER */

.attribution {
    font-size: 12px;
    color: var(--Soft-blue);
}

.attribution a {
    font-size: 12px;
}

/* HOVER */

.main__description h2:hover {
    color: var(--Cyan);
    cursor: pointer;
    
    transition-duration: 0.4s;
}

.main__creator--text span:hover {
    color: var(--Cyan);
    cursor: pointer;

    transition-duration: 0.4s;
}

.main__image--icon:hover {
    opacity: 1;
    cursor: pointer;

    transition-duration: 0.4s;
}

/* Dark-Light mode */

.dark__mode {
    margin-top: 1.25rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;

    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.dark__mode--body.active {
    background-image: linear-gradient(to bottom, white, grey);

}

.main.active {
    background-color: whitesmoke;
    box-shadow: 0px 0px 0 0px, 0px 0px 0px 0px;
    border: 2px solid grey;
}

.main__description--title.active {
    color: black;
}

.main__description--text.active {
    color: #611747;
    font-weight: 500;
}

.main__creator--text.active {
    color: #611747;
}

.main__creator--name.active {
    color: black;
}


@media screen and (min-width: 780px) {
    .main {
        max-width: 350px;
    }

    .main__image--nft {
        width: 300px;
        height: 300px;
    }

    .main__image--icon {
        width: 300px;
        height: 300px;
    }

    .main__general {
        width: calc(350px - 50px)
    }

    .main__creator {
        width: calc(350px - 50px)
    }

    .attribution {
        font-size: 0.75rem;
    }
    
    .attribution a {
        font-size: 0.75rem;
    }
}